<%- include('./partials/head') %>
<div class="col-1">
  <h1><%= title %></h1> 
</div>
<div class="col-2">
  <% if (user) { %>
  <h2>Welcome , <strong><%= user.name %></strong></h2>
    <div class="hero">
 <div class="hero-img">
  <img src="/images/Logo2.png" alt="">
 </div>
    </div>
</div>
<%  }else{ %>
  <div class="col-2" >
    <h2>Welcome</h2>
    <a href="/auth/google">Login/Signup</a>
</div>
<% } %>
<%- include('./partials/footer') %>