@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Josefin+Sans&family=Montserrat&family=Raleway&family=Roboto+Slab&family=Roboto:wght@300&family=Russo+One&family=Ysabeau+Infant:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Raleway", cursive;
  background-color: #faf9f6;
}

/* SIDERBAR */

.logo-img{
  width: 50px;
  border-radius: 50%;
  border: 2px solid #FFFF00;
}
.nav-logo{
  width: 50px;
  border-radius: 50%;
  margin-left: 5px;
}

.sidebar{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 80px;
  background-color: #5AB9EA;
  padding: .4rem .8rem;
  transition: all 0.5s ease;
}


.sidebar.active ~ .main-content{
  left: 250px;
  width: calc(100% - 250px);
}

.sidebar.active {
  width: 250px;
}

.sidebar #btn{
  position: absolute;
  color: #faf9f6;
  top: .4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}

.top #btn:hover{
  color: #8860D0;
}
.sidebar.active #btn{
  left: 90%;
}

.sidebar .top .logo{
  color: #faf9f6;
  display: flex;
  height:  50px;
  width: 100%;
  padding: 1rem;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}
.sidebar.active .top .logo {
  opacity: 1;
}

.top .logo i{
  font-size: 2rem;
  margin-right: 5px;
}



.user{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.user p {
  color: #faf9f6 ;
  opacity: 1;
  margin-left: 1rem;
}

.bold {
font-weight: 700;
}

.email{
  font-size: .7rem;
}

.sidebar p {
  opacity: 0;
}

.sidebar.active p {
  opacity: 1;
}

.sidebar ul li{
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}

.sidebar ul li a {
  color: #faf9f6;
  display: flex;
  text-decoration: none;
  border-radius: 0.8rem;
  text-align: center;
}
.sidebar ul li a:hover {
  color: #faf9f6 ;
  background-color: #8860D0;
}


.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}


.sidebar .nav-item{
  opacity: 0;
}

.sidebar.active .nav-item{
  opacity: 1;
}


.sidebar ul li .tooltip{
  position: absolute;
  left: 150px;
  top: 50%;
  width: 120px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem .6rem rgba(0,0,0,.2);
  border-radius: .6rem;
  padding: .4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
  text-align: center;
  background-color: #faf9f6;
}

.sidebar ul li:hover .tooltip{
  opacity: 1;
}


.sidebar.active ul li .tooltip {
  display: none;
}

/* MAIN Content */
.main-content{
  position: relative;
  background: rgb(136,96,208);
background: radial-gradient(circle, rgb(155, 124, 213) 10%, rgba(90,185,234,1) 30%, rgba(132,206,235,1) 40%);
  min-height: 100vh;
  top: 0;
  left: 80px;
  transition: all .5s ease;
  width: calc(100% - 80px);
  padding: 2rem;

}
.container{
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns:  100%;
}




.container .col-2{
  text-align: center;
  padding: 2rem;
  min-height: 85vh;
  
}

.container .col-1 h1 {
  color: #faf9f6;
}

.hero {
  padding: 2rem;
}

.hero-img img{
  border-radius: 50%;
  width: 350px;
  margin-top: 100px;
  padding: 1rem;

}


.newform-container{
 margin: 20px;
}

#new-form {
  padding: 2rem;
  margin-top: 150px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-review-form *,
#add-performer-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

  table {
    font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #8860D0;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
  text-decoration: none;
  color: #faf9f6;
}

#list a:hover {
  background-color: #faf9f6;
  color: #424748;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#show-page ul {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}
	
#show-page li {
  font-weight: bold;
}



footer{
  text-align: center;
}


